@import url("https://s.pinimg.com/webapp/60806-6c430ebeb0d7cd59.css");
@import url("https://s.pinimg.com/webapp/app-www-pages-EditSettingsDesktopPage-b17663085fa8c1e6.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
